# Dependencies
node_modules/

# Env & secrets
.env
.env.local
.env.*.local
W
# Build & logs
dist/
build/
*.log
npm-debug.log*

# OS & IDE
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# Uploads (runtime)
server/uploads/